div {
    border: 2px dashed black;
}

.blue {
    color: #0060ff;
}

.aligncenter {
    text-align: center;
}

.topbar a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.topbar {
    width: 100vw;
    background-color: white;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.topbar li {
    padding: 20px 25px;
    display: inline-block;
}

.topbar-left {
    justify-content: flex-start;
    width: 50vw;
    align-items: center;
}

.logo {
    width: 10vw;
    justify-content: center;
    align-items: center;
}

.topbar-right {
    justify-content: flex-end;
    width: 50vw;
    align-items: center;
}

.inizia, .freetrial {
    background-color: #0061ff;
    padding: 5px 12px;
}

.inizia > a, .freetrial > a {
    color: white;
}

.bottom-header {
    width: 100vw;
    margin: auto;
    background-color: #b4d0e7;
    height: 92vh;
}

.bottom-header-box {
    width: 65vw;
    margin: auto;
    margin-top: 150px;
}

.title {
    font-size: 42px;
    font-weight: bold;
    width: 100%;
    text-indent: 10px;
}

.bottom-header-box-left, .img-text-box-left {
    width: 30%;
    height: 500px;
}

.bottom-header-box-right, .img-text-box-right {
    width: 70%;
}

.bottom-header-box-left > p:first-of-type {
    margin-top: 40px;
    font-size: 17px;
}

.bottom-header-box-left > p:nth-child(3) {
    margin-top: 35px;
    font-size: 17px;
}

.freetrial {
    margin-top: 35px;
    display: inline-block;
}

.freetrial a, .plan-trial a {
    text-decoration: none;
}

.big {
    font-size: 60px;
    margin-top: 60px;
}


.bottom-header-box-right > img {
    width: 100%;
    margin-top: 40px;
}

.mainbox {
    width: 55vw;
    background-color: lightskyblue;
    min-height: 200px;
    margin: auto;
    margin-top: 150px;
}

.mainbox-header-title h2 {
    font-size: 40px;
    text-indent: 10px;
}

.paymentchoice {
    margin-top: 40px;
}

.opt1 {
    vertical-align: middle;
}

.opt2 {
    margin-left: 50px;
    vertical-align: middle;
}

.opt1::before {
    content: '';
    outline: 4px solid #0060ff;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
    vertical-align: middle;
}

.opt2::before {
    content: '';
    outline: 2px solid #cacace;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
    vertical-align: middle;
}

.mainbox-header {
    background-color: white;
    height: 50px;
    width: 100%;
}

.plan-box {
    justify-content: space-between;
    margin-top: 35px;
}

.plan-offer {
    width: 30%;
    height: 900px;
    background-color: wheat;
}

.plan-offer span {
    display: block;
}

.type {
    text-align: center;
    padding: 5px 0;
}

.plan-part {
    padding: 25px 25px;
    
}

.margin {
    margin-top: 15px;
}

.price {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.pricedesc {
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

.plan-trial {
    background-color: #0061ff;
    padding: 5px 30px;
    display: inline-block;
    color: white;
    width: 100%;
}

.contact {
    height: 200px;
    background-color: white;
    width: 100%;
    margin-top: 50px;
}

.img-text-box {
    flex-direction: row-reverse;
    margin-top: 100px;
}

.card-container {
    width: 100%;
    min-height: 1000px;
    margin-top: 100px;
    background-color: white;
}

.mainbox-midpage-title {
    width: 100%;
    height: 50px;
}

.card {
    width: 30%;
    background-color: blueviolet;
    height: 550px;

}

.card-box {
    justify-content: space-between;
    flex-wrap: wrap;
}

.upper-box {
    height: 50%;
    background-color: red;
}

.lower-box {
    height: 50%;
    width: 100%;
}

.box-after-cards {
    width: 100%;
    background-color: orange;
    height: 500px;
}

.sponsor-box {
    width: 100vw;
    height: 60vh;
    background-color: gray;
}

.sponsor-box-left {
    width: calc(100% / 3);
    height: 100%;
    background-color: blueviolet;
    flex-wrap: wrap;
}

.sponsor-box-middle {
    width: calc(100% / 3);
    height: 100%;
    background-color: blueviolet;
}

.sponsor-box-right {
    width: calc(100% / 3);
    height: 100%;
    background-color: blueviolet;
    flex-wrap: wrap;
}

.littlebox {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.main-footer-box {
    width: 100vw;
    height: 35vh;
    background-color: lightblue;
}

.questions {
    width: 100vw;
    height: 70vh;
    background-color: bisque;
}

.links {
    width: 100vw;
    height: 60vh;
    background-color: black;
}
