.center {
    text-align: center;
}

.blue {
    color: #0060ff;
}

.aligncenter {
    text-align: center;
}

.topbar a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.topbar {
    width: 100vw;
    background-color: white;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.topbar li {
    padding: 20px 25px;
    display: inline-block;
    height: 100%;
}

.topbar-left {
    justify-content: flex-start;
    width: 50vw;
    align-items: center;
}

.logo {
    width: 10vw;
    justify-content: center;
    align-items: center;
}

.topbar-right {
    justify-content: flex-end;
    width: 50vw;
    align-items: center;
}

.inizia, .freetrial {
    background-color: #0061ff;
    padding: 5px 12px;
    color: white;
}

.bottom-header {
    width: 100vw;
    margin: auto;
    background-color: #b4d0e7;
    height: 85vh;
}

.bottom-header-box {
    width: 65vw;
    margin: auto;
    margin-top: 74px;
    padding-top: 100px;
}

.title {
    font-size: 42px;
    font-weight: bold;
    width: 100%;
    text-indent: 10px;
}

.bottom-header-box-left {
    width: 30%;
    height: 500px;
}

.bottom-header-box-right {
    width: 70%;
}

.bottom-header-box-left > p:first-of-type {
    margin-top: 40px;
    font-size: 17px;
}

.bottom-header-box-left > p:nth-child(3) {
    margin-top: 35px;
    font-size: 17px;
}

.freetrial {
    margin-top: 35px;
    display: inline-block;
}

.freetrial a, .plan-trial a {
    text-decoration: none;
}

.big {
    font-size: 60px;
    margin-top: 60px;
}


.bottom-header-box-right > img {
    width: 100%;
    margin-top: 40px;
}

.mainbox {
    width: 55vw;
    min-height: 200px;
    margin: auto;
    margin-top: 150px;
}

.mainbox-header-title h2 {
    font-size: 40px;
    text-indent: 5px;
}

.paymentchoice {
    margin-top: 40px;
}

.opt1 {
    padding-left: 5px;
    vertical-align: middle;
}

.opt2 {
    margin-left: 50px;
    vertical-align: middle;
}

.opt1::before {
    content: '';
    outline: 4px solid #0060ff;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
    vertical-align: middle;
}

.opt2::before {
    content: '';
    outline: 2px solid #cacace;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
    vertical-align: middle;
}

.mainbox-header {
    background-color: white;
    height: 50px;
    width: 100%;
}

.plan-box {
    justify-content: space-between;
    margin-top: 35px;
}

.plan-offer {
    width: 30%;
    height: 900px;
    border: 1px solid lightgray;
}

.plan-offer span {
    display: block;
}

.type {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

.plan-part {
    padding: 26px;
    
}

.margin {
    margin-top: 15px;
}

.price {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.pricedesc {
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

.plan-trial {
    background-color: #0061ff;
    padding: 5px 0;
    display: inline-block;
    color: white;
    width: 100%;
}

.plan-trial > a {
    color: white;
}

.plan-box hr {
    border: 1px solid lightgray;
    width: 10%;
    margin-left: 25px;
}

.contact {
    height: 30vh;
    background-color: white;
    width: 100%;
    margin-top: 50px;
    border: 1px solid lightgray;
}

.contactbox-left {
    width: 70%;
}

.contactbox-right {
    width: 30%;
}

.supermargin {
    margin-top: 50px;
}

.img-text-box {
    margin-top: 100px;
    height: 500px;
}

.img-text-box-right {
    height: 100%;
    width: 30%;
}

.img-text-box-left {
    height: 100%;
    width: 70%;
}


.img-text-box-left > img {
    height: 100%;
}

.img-text-box-button {
    background-color: white;
    padding: 5px 10px;
    display: inline-block;
    color: black;
    border: 2px solid black;
}

.card-container {
    width: 100%;
    min-height: 1000px;
    margin-top: 100px;
    background-color: white;
}

.mainbox-midpage-title {
    width: 100%;
    font-size: 25px;
    text-indent: 10px;
}

.card {
    width: 30%;
    height: 550px;
}

.card-box {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.upper-box {
    height: 50%;
}

.upper-box > img {
    width: 100%;
}

.lower-box {
    height: 50%;
    width: 100%;
}

.box-after-cards {
    width: 100%;
    height: 200px;
    margin-top: 150px;
}

.after-cards-intern-box {
    width: 60%;
}

.box-after-cards-title {
    font-size: 35px;
}


.sponsor-box {
    width: 100vw;
    height: 70vh;
    margin-top: 100px;
}

.sponsor-box-left {
    width: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
}

.sponsor-box-middle {
    width: calc(100% / 3);
    height: 100%;
    padding: 40px;
}

.sponsor-box-middle hr {
    margin-top: 30px;
    border: 1px solid lightgray;
    width: 20%;
}

.sponsor-box-middle > img {
    width: 50%;
}

.sponsor-box-right {
    width: calc(100% / 3);
    height: 100%;
    background-color: blueviolet;
    flex-wrap: wrap;
}

.littlebox {
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
}

.first-img-box {
    background-color: #a2d39b;
    height: 90%;
    width: 90%;
    position: absolute;
    left: 15px;
    top: 15px;
}

.littlebox  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(1);
}

.main-footer-box {
    width: 100vw;
    height: 45vh;
    background-color: lightblue;
}

.main-footer-box-container {
    width: 55vw;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.main-footer-box-container-title {
    font-size: 40px;
    color: #61082b;
    width: 50%;
}

.main-footer-box-button {
    background-color: white;
    padding: 10px 25px;
    display: inline-block;
    color: black;
}

.questions {
    width: 100vw;
    height: 50vh;
}

.questions-box {
    width: 55vw;
    margin: auto;
    margin-top: 150px;
    height: 70%;
}

.questions-box > h2 {
    font-size: 40px;
}

.questions-container {
    width: 100%;
    margin-top: 80px;
}

.questions-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
}

.question {
    font-size: 15px;
}

.menu {
    padding: 30px;
}

.question-bonus {
    padding: 30px 0;
    font-size: 15px;
    display: none;
}

.links {
    width: 100vw;
    height: 60vh;
    background-color: black;
    color: white;
    margin-top: 100px;
    padding: 50px; 
}

.links-container {
    width: 65vw;
    margin: auto;
    display: flex;
    margin-top: 100px;
}

.links-box {
    width: calc(100%/5);
}

.links-box li {
    list-style: none;
}

.links-box li > a {
    text-decoration: none;
    color: white;
}

.links-box li > a:hover {
    text-decoration: underline;
}

.question-bonus {
    display: none;
    width: 100%;
}

.questions-line:hover > .question-bonus {
    display: block;
}
